.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.not_found {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
}
.not_found h3 {
  margin: 0;
}
.navigation {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
.list_wrapper div:first-child {
  border-radius: 8px 8px 0 0;
}
@media only screen and (max-width: 480px) {
  .navigation {
    width: 97%;
  }
  .total_count {
    font-size: 14px;
  }
}
@media only screen and (max-width: 359px) {
  .total_count {
    font-size: 12px;
  }
}
